
.collaboration {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-title span {
    font-weight: normal;
    color: #999;
}

.section-subtitle {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 18px;
    color: #666;
}

.section-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Чтобы блоки могли переноситься на новую строку на малых экранах */
    gap: 20px;
}

.image-box {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}



.image-placeholder {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px; /* Добавляем легкое скругление углов изображений */
    object-fit: cover; /* Обеспечиваем правильное отображение изображений */
    margin-bottom: 20px;
}

.image-box h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.image-box p {
    font-size: 16px;
    color: #555;
}

/* Адаптивные стили */
@media (max-width: 900px) {
    .image-box {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .image-box {
        width: 100%;
    }
}
